*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    
}
#banner{
    background: url(pics/background1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.banner-btn {
    margin: 0px auto 0;
}
.banner-btn a{
    width: 200px;
    text-decoration: none;
    display: inline-flex;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid rgb(245, 209, 237);
    position: relative;
    z-index: 1;
}
.banner-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:rgb(205, 164, 252);
    z-index: -1;
    transition: 0.5 s;
}
.banner-btn a:hover span {
    width: 100%;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right:-250px;
    top:0;
    background:rgb(62, 161, 78);
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#menubtn{
    width: 50px;
    height: 50px;
    background: rgb(62, 161, 78);
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menubtn img{
    width: 30px;
    margin-top: 15px;
 
}
@media screen and (max-width: 770px){
    .banner-btn a{
        display:block;
        margin: 20px auto;
    }
}
