/* .container-fluid{
    margin:0;
    padding:0;
} */
body{
    text-align:center;
    overflow-x:hidden;
}
.navbar{
    margin-bottom:5px;
}
img{
    padding:9rem 2rem 0;
}
img.acc{
    height:50px;
    width:50px;
    border-radius:50%;
    /* object-fit: scale-down; */
    position:absolute;
    left: 1362px;
    top: -82px;
}
i.fa.fa-search{
    position: absolute;
}
.fa-search.smain{
    color: rgb(202, 199, 199);
    font-weight: normal;
    top:338px;
    left: 470px;
}
#input-text {
padding: 0px 44px;
}
#input-text:hover{
    box-shadow: 1px 3px 8px rgb(202, 198, 198),
    1px 4px 8px rgb(202, 198, 198);;
}
.search-bar input{
    width: 550px;
    height: 39px;
    border: 1px solid rgb(202, 199, 199);
    border-radius: 25px;
    outline:none;
}
.search-bar #smic{
    width: 53px;
    position: absolute;
    left: 948px;
    top: 244px;
}
.button{
    padding:20px;
}
.navbar-nav>li{
    padding-top:15px;
    list-style: none;
}
.navbar-nav>li button a,button#btn1 a{
    text-decoration:none;
    color:black;
}
.navbar-nav>li>a {
    padding-right:34px;
    color:black;
    text-decoration: none;
}
.navbar-nav>li>a .bar{
    line-height: 8px;
    font-size:8px;
}

/* Footer */
.footer{
    text-align:left;
    width:100%;
    position:absolute;
    top:610px;
}
.footer div.secondary{
    background-color: rgb(219, 213, 213);
    margin:0;
    padding:30px;
}
.left-align{
    float:left;
}
.right-align{
    float:right;
}
/* Footer */


/* Image Search */
.search-bar #imic{
    width: 53px;
    position: absolute;
    left: 915px;
    top: 244px;
}
i.fa.fa-search#s1{
    color: rgb(202, 199, 199);
    font-weight: normal;    
    top: 337px;
    left: 468px;
}
.fa-search#s2{    
    left: 968px;
    color: blue;
    font-weight: bold;
    font-size: large;
    top: 335px;
}
.search-bar #camera{
    font-size: large;
    position: absolute;
    left: 895px;
    top: 334px;
}
span.txt{    
    color: blue;
    top: 85px;
    position: relative;
    left: -88px;
    font-size: large;
}
.navbar-nav img#side-img{
    position: relative;
    text-align:left;
    width: 190px;
    height: 140px;
    left: -80px;
    top: -90px;
}
.navbar-nav div.abar{
    position: relative;
    text-align:right;
    line-height: 8px;
    font-size:8px;
    left: 1018px;
    top: 0px;
}

/* Advance Search */

td{
    padding:10px;    
}
